*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "poppins", sans-serif;
}
body{
    background-color: #f4f4fb;
}
h2{
    font: 18px;
    padding: 15px;
}
h2 span{
    font-size: 14px;
}
/* .............................. */
.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    padding-left: 6rem ;
}
 .search{
    margin-bottom: 30px;
}

.search input{
    width: 270px;
    height: 38px;
    border: 2px solid #6d8e96;
    padding: 20px 30px 20px 10px;
    border-radius: 6px;
    position: absolute;
    border-right: 1px solid #050418;
      
}
.ss{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    margin: 10px 0 0 240px;

} 

.profile{
    display: flex;
    width: 32%;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
}
.profile-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-name{
    font-size: 0.9rem;
    margin-left: -70px;
    margin-right: 30px;

}
.side-togle{
    position: fixed;
    z-index: 2;
    top: 20;
    left: 25;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
#togle{
    display: none;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    padding: 80px 0 20px 0;
    color: #fff;
    background-color: #050418;
    box-shadow: 2px 0 5px rgb(0, 0, 0,0.5);
}
.sidebar-menu{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}
.sidebar-menu .fa-solid{
    font-size: 25px;
    padding-right: 30px;
}
.sidebar-menu:hover{
    color: #090825;
    background-color: #f8f8fb;
}
#togle:checked ~ .sidebar{
    width: 70px;
}
#togle:checked ~ .sidebar .sidebar-menu p{
    display: none;
}
#togle:checked ~ main{
    padding: 6rem 2rem 2rem 6rem;
}

/* ........ .dashboard-container.............. */

main{
    min-height: 100%;
    padding: 6rem 1rem 2rem 14rem;
    color:#050418;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
    "total1 total2 total3 total4 total4"
    "detail detail detail customer customer"
    "detail detail detail customer customer";
}
.card{
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.total1{
    grid-area: total1;
    background-color: #2d972e;
    color: #fff;
}
.total2{
    grid-area: total2;
    background-color: #d38d0b;
    color: #fff;
}
.total3{
    grid-area: total3;
    background-color: #0fc0ec;
    color: #fff;
}
.total4{
    grid-area: total4;
    background-color: #df51df;
    color: #fff;
}
.detail{
    grid-area: detail;
    overflow-x: auto;
}
.customer{
    grid-area: customer;
    overflow-x: auto;
}
.info{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.info-detail h2{
    font-size: 24px;
}
.info-detail p{
    font-size: 14px;
}
.info-image{
    font-size: 50px;
    color: #050418;
}
.detail-header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.detail-header button{
    height: 30px;
    width: 120px;
    border: 1px solid #050418;
    background-color: #050418;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.detail-header button:hover{
background-color: transparent;
color: #050418;
font-weight: 600;
}
.detail table{
    width: 100%;
    border-collapse: collapse;
}
.detail table tr:nth-child(odd){
    background-color: #f4f4fb;
}
.detail table th{
    background-color: #f4f4fb;
}
.detail table th,
.detail table td{
    padding: 0.8rem 0.2rem;
    text-align: left;
    min-width: 120px;
    font-size: 14px;
}
.detail table tr:hover{
    background-color: #f2f2f2;
    border-bottom: 2px solid #050418;
}
.detail table tr td:nth-child(2),
.detail table tr td:nth-child(3){
    min-width: 150px;
}
.stutus{
    padding: 0.3rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1;
    font-size: 0.7rem;
}
.onpregress{
    background-color: #d38d0b;
    color: #fff;
}
.confirm{
    background-color: #d7effc;
    color: #706e94;
}
.fulfield{
    background-color: #dcedde;
    color: #37aa33;
}
.customer-wrapper{
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.4fr;
    grid-auto-flow: column;
    margin: 10px 0;
    min-width: 230px;
    align-items: flex-start;
    gap: 5px;
}
.customer-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.customer-name p, .customer-date{
font-size: 0.9rem;
}
.customer-date{
    text-align: right;
    color: #9092a9;
}
@media screen and (max-width: 980px){
    .dashboard-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "total1 total2"
        "total3 total4"
        "detail detail"
        "customer customer"
        ;
    }
}
@media screen and (max-width: 480px) {
    .profile-name{
        display: none;
    }
    .sidebar{
        display: none;
    }
    main{
        padding: 6rem 2rem 2rem 2rem;
    }
    #togle:checked ~ .sidebar{
        width: 200px;
        display: block;
    }
    #togle:checked ~ .sidebar .sidebar-menu p{
        display: block;
    }
    #togle:checked ~ main{
        padding: 6rem 2rem 2rem 2rem;
    }
    .dashboard-container{
        grid-template-columns: 1fr;
        grid-template-areas:
        "total1"
        "total2"
        "total3"
        "total4"
        "detail"
        "customer";
    }
    .detail table{
        font-size: 0.9rem;
    }
}
footer{
    background-color: #fff;
    padding: 20px 0 20px 700px;

    margin-bottom: 30px;
}
.fa-trash , .fa-pen{
    cursor: pointer;
    font-size: 20px;
}
.fa-pen{
    margin-right: 30px;
    color: #0fc0ec;
}
.fa-trash{
    color: red;
}